<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Evaluate an article using NLP</title>
</head>

<body>

    <header>
        <div class="main-heading">
            <h1>Evaluate a news article using Natural Language Processing</h1>
        </div>
    </header>

    <main>
        <section>
            <form class="" onsubmit="return Client.handleSubmit(event)">
                <input id="name" type="url" name="input-url" value="" placeholder="Enter a valid URL">
                <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
            </form>

            <section class="errors">
                <!-- The Modal -->
                <div id="notify-user-modal" class="modal">

                    <!-- Modal content -->
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <span class="error"></span>
                    </div>

                </div>
            </section>

            <section class="url-results">
                <ul>
                    <li class="polarity">
                        <div class="result-item">
                            <h4>Text Polarity:</h3>
                                <p id="polarity"></p>
                        </div>
                        <div class="result-item">
                            <h4>Confidence: </h3>
                                <p id="polarity_confidence"></p>
                        </div>
                    </li>

                    <li class="subjectivity">
                        <div class="result-item">
                            <h4>Text Subjectivity:</h3>
                                <p id="subjectivity"></p>
                        </div>
                        <div class="result-item">
                            <h4>Confidence: </h3>
                                <p id="subjectivity_confidence"></p>
                        </div>
                    </li>
                    <li>
                        <div class="result-item">
                            <h4>Text Excerpt:</h3>
                                <p id="excerpt"></p>
                        </div>
                    </li>
                </ul>
            </section>
        </section>
    </main>

    <footer>
        <p>Developed with love using <a href="https://aylien.com/text-api/">Aliyen Text API</a></p>
    </footer>

</body>

</html>